<!DOCTYPE html>
<html>
<head>
 	<meta charset=utf-8 />
 	<title>OneWire Temperatures</title>
  <link rel="stylesheet" type="text/css" media="screen" href="css/master.css" />
	<script src="static/js/jquery-3.1.1.min.js"></script>
	<!--<script src="static/js/plotly-latest.min.js"></script>-->

	<script src="https://code.highcharts.com/stock/highstock.js"></script>
	<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
	<script src="https://code.highcharts.com/highcharts-more.js"></script>

</head>
<body>
  	<div id="socometers-container" style="width:100%; height:400px;">
  	</div>
	<script src="{{ url_for('static', filename='js/data_visualization.js') }}"></script>
	<script>
		let hc_options = {
			div_id: "socometers-container",
			title: "Aggregated socometers consumption",
			subtitle: "Displaying data from socometers",
			sensor_type: "socomecs",
			aggregated: true,
			show_range: false,
			navigator_data_url: "/ui/data/navigation/socometer/hourly"
		}
		hc_create_chart(hc_options);
	</script>
</body>
</html>
