<!DOCTYPE html>
<html>
<head>
 	<meta charset=utf-8 />
 	<title>OneWire Temperatures</title>
  <link rel="stylesheet" type="text/css" media="screen" href="css/master.css" />
	<script src="static/js/jquery-3.1.1.min.js"></script>
	<!--<script src="static/js/plotly-latest.min.js"></script>-->

	<script src="https://code.highcharts.com/stock/highstock.js"></script>
	<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>

</head>
<body>
  	<div id="wattmeters-container" style="width:100%; height:400px;">
  	</div>
	<script src="{{ url_for('static', filename='js/data_visualization.js') }}"></script>
	<script>
		let hc_options = {
			div_id: "wattmeters-container",
			title: "Wattmeters consumption",
			subtitle: "Displaying data from Flukso",
			sensor_type: "wattmeter"
    	}
    	hc_create_chart(hc_options);
	</script>
</body>
</html>
