flask
natsort
#influxdb
git+https://github.com/influxdata/influxdb-python.git
pymodbus
pyModbusTCP
flasgger
pysnmp==4.4.2
exscript
docopt
pyserial
python-telegram-bot
redis==3.2.0
scrapy
gTTS
requests
html2text
gunicorn
supervisor
flask-login
validators
itsdangerous
celery
transitions
flask_bcrypt
SQLAlchemy==0.9.10
Flask-SQLAlchemy==2.1
paho-mqtt
redlock
numpy
