flask
natsort
#influxdb
git+https://github.com/influxdata/influxdb-python.git
pymodbus
pyModbusTCP
flasgger
pysnmp==4.4.2
exscript
docopt
pyserial
python-telegram-bot
redis
scrapy
gTTS
requests
html2text
gunicorn
supervisor