# Modbus crawlers
docopt
influxdb
pymodbus
# Sensor crawlers
pyModbusTCP
# API
flasgger
flask
# Dashboard
flask_bcrypt
flask_login
flask_migrate
flask_profiler
flask_sqlalchemy
numpy
pyinstrument
redis
transitions
