[Unit]
Description=Dashboard
 
[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/root/seduceboard
ExecStart=/usr/bin/python3 -m bin.app
Restart=on-failure
 
[Install]
WantedBy=multi-user.target
