[Unit]
Description=PDU Z1.40
 
[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/root/seduceboard
ExecStart=/usr/bin/python3 -m bin.snmp_crawler --pdu=pdu-Z1.40
Restart=on-failure
 
[Install]
WantedBy=multi-user.target
