[Unit]
Description=PDU Z1.51
 
[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/root/seduceboard
ExecStart=/usr/bin/python3 -m bin.snmp_crawler --pdu=pdu-Z1.51
Restart=on-failure
 
[Install]
WantedBy=multi-user.target
