[Unit]
Description=Sensors Crawler
 
[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/root/seduceboard
ExecStart=/usr/bin/python3 -m bin.sensors_crawler
Restart=on-failure
 
[Install]
WantedBy=multi-user.target
