[Unit]
Description=Temperature Server
 
[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/root/seduceboard
ExecStart=/usr/bin/python3 -m bin.temperature_registerer
Restart=on-failure
 
[Install]
WantedBy=multi-user.target
