{% extends "layout.html.jinja2" %}

{% block navbar %}
<ul class="sidebar-menu metismenu" id="sidebar-menu">
    <li class="active">
        <a href="{{ url_for("webapp.index") }}">
            <i class="fa fa-home"></i> Dashboard </a>
    </li>
    <li>
        <a href="{{ url_for("webapp.sensors") }}">
            <i class="fa fa-cog"></i> Sensors
        </a>
    </li>
    <li>
        <a href="{{ url_for("webapp.room_overview") }}">
            <i class="fa fa-map"></i> Room overview
        </a>
    </li>
    <li>
        <a href="{{ url_for("webapp.rack_temperature_overview") }}">
            <i class="fa fa-thermometer-half"></i> Rack temperatures
        </a>
    </li>
    <li>
        <a href="{{ url_for("webapp.weighted_tree_consumption") }}">
            <i class="fa fa-sitemap"></i> Consumption tree
        </a>
    </li>
    <li>
        <a href="#">
            <i class="fa fa-bar-chart"></i> Measurements
            <i class="fa arrow"></i>
        </a>
        <ul class="sidebar-nav">
            <li>
                <a href="{{ url_for("webapp.measurements_wattmeters") }}"> Wattmeters </a>
            </li>
            <li>
                <a href="{{ url_for("webapp.measurements_thermometers") }}"> Temperature sensors </a>
            </li>
        </ul>
    </li>
    <li>
        <a id="seduce_api_link" href="https://localhost:5000/apidocs/#/">
            <i class="fa fa-rocket"></i> API
        </a>
    </li>
</ul>
{% endblock %}


{% block header_css %}
.profile_picture {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; width: 30px; height: 30px;
}
{% endblock %}

{% block body %}
<article class="content dashboard-page">
    <div class="title-block">
        <h1 class="title"> Continous Queries Recomputation management </h1>
        <p class="title-description"> Continuous queries can be recomputed on specified time interval</p>
        <a class="btn btn-danger" href="{{ url_for("admin_app.prepare_rerun_continuous_query") }}">Rerun</a>
    </div>

    {# Show aggregated sensors #}
    <section class="section">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-block">
                        <div class="card-title-block">
                            <h3 class="title">Continuous queries recomputation</h3>
                        </div>
                        <section class="example"><table class="table table-hover">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>CQ</th>
                                    <th>priority</th>
                                    <th>Time size</th>
                                    <th>Interval processed</th>
                                    <th>Progress</th>
                                    <th>Last run duration</th>
                                    <th>State</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for cq_recomputation in all_recomputations %}
                                    {{ cq_recomputation }}
                                    <tr>
                                    <td>{{ cq_recomputation.id }}</td>
                                    <td>{{ cq_recomputation.cq_name }}</td>
                                    <td>{{ cq_recomputation.priority }}</td>
                                    <td>{{ cq_recomputation.time_interval_start.strftime('%Y-%m-%d') }} to {{ cq_recomputation.time_interval_end.strftime('%Y-%m-%d') }}</td>
                                    {% if cq_recomputation.last_run_start != None %}
                                    <td>{{ cq_recomputation.last_run_start.strftime('%Y-%m-%d') }} to {{ cq_recomputation.time_interval_end.strftime('%Y-%m-%d') }}</td>
                                    {% else %}
                                    <td>Not started</td>
                                    {% endif %}
                                    <td>{{ (cq_recomputation.progress * 100) | int }}%</td>
                                    <td>{{ cq_recomputation.last_execution_time | round(1, 'floor') }} seconds</td>
                                    <td>{{ cq_recomputation.state }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {# End of aggregated sensors #}

</article>
{% endblock %}

{% block end_document %}
{% endblock %}