{% extends "layout.html" %}

{% block header %}
{% endblock %}

{% block navbar %}
<ul class="sidebar-menu metismenu" id="sidebar-menu">
    <li class="active">
        <a href="/">
            <i class="fa fa-home"></i> Dashboard </a>
    </li>
    <li>
        <a href="/sensors.html">
            <i class="fa fa-cog"></i> Sensors
        </a>
    </li>
    <li>
        <a href="/room_overview.html">
            <i class="fa fa-map"></i> Room overview
        </a>
    </li>
    <li>
        <a href="/rack_temperature_overview.html">
            <i class="fa fa-thermometer-half"></i> Rack temperatures
        </a>
    </li>
    <li>
        <a href="/weighted_tree_consumption">
            <i class="fa fa-sitemap"></i> Consumption tree
        </a>
    </li>
    <li>
        <a href="/">
            <i class="fa fa-bar-chart"></i> Measurements
            <i class="fa arrow"></i>
        </a>
        <ul class="sidebar-nav">
            <li>
                <a href="/measurements/wattmeters.html"> Wattmeters </a>
            </li>
            <li>
                <a href="/measurements/thermometers.html"> Temperature sensors </a>
            </li>
        </ul>
    </li>
    <li>
        <a id="seduce_api_link" href="localhost:5000/apidocs/#/">
            <i class="fa fa-rocket"></i> API
        </a>
    </li>
</ul>
{% endblock %}

{% block body %}
<article class="content dashboard-page">
    <div class="title-block">
        <h1 class="title"> Dashboard </h1>
        <p class="title-description"> Provides an an overview of the Seduce infrastructure</p>
    </div>
    <section class="section">
        <div class="row sameheight-container">
            <div class="col col-12 col-sm-12 col-xl-5 stats-col">
                <div class="card sameheight-item stats" data-exclude="xs">
                    <div class="card-block">
                        <div class="title-block">
                            <h4 class="title"> General Statistics </h4>
                            <p class="title-description"> Metrics for Seduce infrastructure</p>
                        </div>
                        <div class="row row-sm stats-container">
                            <div class="col-12 col-sm-6 stat-col">
                                <div class="stat-icon">
                                    <i class="fa fa-thermometer-three-quarters"></i>
                                </div>
                                <div class="stat">
                                    <div class="value"> {{ last_temperature_mean  | round(2) }} °C</div>
                                    <div class="name"> Temperature (inside)</div>
                                </div>
                                <div class="">
                                    <span class="line" id="inside_temperature_sparkline"></span>
                                    <!--&lt;!&ndash;<div class="progress-bar" style="width: 75%;"></div>&ndash;&gt;-->
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 stat-col">
                                <div class="stat-icon">
                                    <i class="fa fa-thermometer-three-quarters"></i>
                                </div>
                                <div class="stat">
                                    <div class="value"> {{ last_external_temperature_mean | round(2) }} °C</div>
                                    <div class="name"> Temperature (outside)</div>
                                </div>
                                <div class="">
                                    <span class="line" id="temperature_sparkline"></span>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6  stat-col">
                                <div class="stat-icon">
                                    <i class="fa fa-bolt"></i>
                                </div>
                                <div class="stat">
                                    <div class="value"> {{datacenter_consumption  | round(2) }} W</div>
                                    <div class="name"> Instant consumption</div>
                                </div>
                                <div class="">
                                    <span class="line" id="power_sparkline"></span>
                                    <!--&lt;!&ndash;<div class="progress-bar" style="width: 75%;"></div>&ndash;&gt;-->
                                </div>
                            </div>
                            <div class="col-12 col-sm-6  stat-col">
                                <div class="stat-icon">
                                    <i class="fa fa-users"></i>
                                </div>
                                <div class="stat">
                                    <div class="value"> {{ pue_ratio  | round(2) }} </div>
                                    <div class="name"> PUE (week)</div>
                                </div>
                                <div class="">
                                    <span class="line" id="pue_sparkline"></span>
                                    <!--&lt;!&ndash;<div class="progress-bar" style="width: 75%;"></div>&ndash;&gt;-->
                                </div>
                            </div>
                            <div class="col-12 col-sm-6  stat-col">
                                <div class="stat-icon">
                                    <i class="fa fa-microchip"></i>
                                </div>
                                <div class="stat">
                                    <div class="value"> 198 </div>
                                    <div class="name"> Sensors</div>
                                </div>
                                <div class="progress stat-progress">
                                    <div class="progress-bar" style="width: 49%;"></div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 stat-col">
                                <div class="stat-icon">
                                    <i class="fa fa-cogs"></i>
                                </div>
                                <div class="stat">
                                    <div class="value"> 3562</div>
                                    <div class="name"> API calls</div>
                                </div>
                                <div class="progress stat-progress">
                                    <div class="progress-bar" style="width: 15%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-7">
                <div class="card sameheight-item sales-breakdown" data-exclude="xs,sm,lg" style="height: 400px;">
                    <div class="card-header">
                        <div class="header-block">
                            <h3 class="title"> Energy consumption </h3>
                        </div>
                    </div>
                    <div class="card-block">
                        <div>
                            <canvas id="chart-area" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="row sameheight-container">
            <div class="col col-12 col-sm-12 col-md-6 col-xl-12 history-col">
                <div class="card sameheight-item" data-exclude="xs" id="dashboard-history">
                    <div class="card-header card-header-sm bordered">
                        <div class="header-block">
                            <h3 class="title">History</h3>
                        </div>
                        <ul class="nav nav-tabs pull-right" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" href="#wattmeters" role="tab"
                                   data-toggle="tab">Wattmeters</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#thermometers" role="tab"
                                   data-toggle="tab">Thermometers</a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-block">
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active fade show" id="wattmeters">
                                <div id="wattmeters-container"></div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="thermometers">
                                <div id="thermometers-container"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</article>
{% endblock %}

{% block end_document %}
<script src="{{ url_for('static', filename='js/data_visualization.js') }} "></script>
<script>
    let hc_wattmeters_options = {
        div_id: "wattmeters-container",
        title: "Datacenter consumption",
        subtitle: "Displaying data from wattmeters",
		sensor_type: "multitree_consumptions",
		multitree_selected_sensors_getter: function() {
		    return ["datacenter"];
        },
		navigator_data_url: "/ui/data/navigation/wattmeter/hourly"
    }
    hc_create_chart(hc_wattmeters_options);

    let hc_thermometers_options = {
        div_id: "thermometers-container",
        title: "Average temperature",
        subtitle: "Displaying data from thermometers",
        sensor_type: "external_temperature",
        aggregated: true,
        show_range: false,
		navigator_data_url: "/ui/data/navigation/temperature/hourly"
    }
    hc_create_chart(hc_thermometers_options);
</script>

<script src="{{ url_for('static', filename='js/chartjs/Chart.bundle.js') }}"></script>
<script src="{{ url_for('static', filename='js/chartjs/utils.js') }}"></script>
<script>
    var randomScalingFactor = function() {
        return Math.round(Math.random() * 100);
    };

    var config = {
        type: 'doughnut',
        data: {
            datasets: [{
                data: [
                    {{ datacenter_consumption -  cluster_hardware_consumption }},
                    {{ cluster_hardware_consumption }},
                ],
                backgroundColor: [
                    window.chartColors.red,
                    window.chartColors.blue
                ],
                label: 'Dataset 1'
            }],
            labels: [
                "Non IT equipment",
                "IT equipment",
            ]
        },
        options: {
            responsive: true,
            legend: {
                position: 'top',
            },
            title: {
                display: true,
                text: 'ecotype.nantes.grid5000.fr ({{ datacenter_consumption }} W)'
            },
            animation: {
                animateScale: true,
                animateRotate: true
            }
        }
    };

    window.onload = function() {
        var ctx = document.getElementById("chart-area").getContext("2d");
        window.myDoughnut = new Chart(ctx, config);
    };

    document.getElementById('randomizeData').addEventListener('click', function() {
        config.data.datasets.forEach(function(dataset) {
            dataset.data = dataset.data.map(function() {
                return randomScalingFactor();
            });
        });

        window.myDoughnut.update();
    });

    var colorNames = Object.keys(window.chartColors);
    document.getElementById('addDataset').addEventListener('click', function() {
        var newDataset = {
            backgroundColor: [],
            data: [],
            label: 'New dataset ' + config.data.datasets.length,
        };

        for (var index = 0; index < config.data.labels.length; ++index) {
            newDataset.data.push(randomScalingFactor());

            var colorName = colorNames[index % colorNames.length];;
            var newColor = window.chartColors[colorName];
            newDataset.backgroundColor.push(newColor);
        }

        config.data.datasets.push(newDataset);
        window.myDoughnut.update();
    });

    document.getElementById('addData').addEventListener('click', function() {
        if (config.data.datasets.length > 0) {
            config.data.labels.push('data #' + config.data.labels.length);

            var colorName = colorNames[config.data.datasets[0].data.length % colorNames.length];;
            var newColor = window.chartColors[colorName];

            config.data.datasets.forEach(function(dataset) {
                dataset.data.push(randomScalingFactor());
                dataset.backgroundColor.push(newColor);
            });

            window.myDoughnut.update();
        }
    });

    document.getElementById('removeDataset').addEventListener('click', function() {
        config.data.datasets.splice(0, 1);
        window.myDoughnut.update();
    });

    document.getElementById('removeData').addEventListener('click', function() {
        config.data.labels.splice(-1, 1); // remove the label first

        config.data.datasets.forEach(function(dataset) {
            dataset.data.pop();
            dataset.backgroundColor.pop();
        });

        window.myDoughnut.update();
    });
</script>

<script src="https://omnipotent.net/jquery.sparkline/2.0/jquery.sparkline.js"></script>
<script>
    function draw_sparklines() {
        let internal_temperature_last_week_url = "data/hardcoded/external_temperature/hourly?start_date=now()-2d";
        let temperature_last_week_url = "/data/generated/external_temperature/hourly?start_date=now()-2d";
        let power_last_week_url = "multitree_sensor_data/datacenter/aggregated/hourly?start_date=now()-2d";
        let pue_last_week_url = "data/generated/pue/hourly?start_date=now()-2d";

        let internal_temperature_sparkline = $("#inside_temperature_sparkline");
        $.getJSON(internal_temperature_last_week_url, function (data) {
            console.log("Updating the sparkline for internal temperature");
            let filtered_data = data["range"]["means"].filter(x => x != null);

            function selectValueForTooltip(sparkline, options, fields) {
                let date = new Date(data["range"]["timestamps"][fields["x"]]);
                let datestring = date.toDateString()+" "+date.toLocaleTimeString()
                return datestring+": <b>"+fields["y"].toFixed(2)+"</b>";
            }
            let sparkline = internal_temperature_sparkline.sparkline(filtered_data, {
                fillColor: 'rgb(228, 228, 228)',
                lineColor: 'rgb(87, 188, 210)',
                lineWidth: 2,
                width: "100%",
                tooltipFormatter: selectValueForTooltip
            });
        });

        let temperature_sparkline = $("#temperature_sparkline");
        $.getJSON(temperature_last_week_url, function (data) {
            console.log("Updating the sparkline for temperature");
            let filtered_data = data["means"].filter(x => x != null);

            function selectValueForTooltip(sparkline, options, fields) {
                let date = new Date(data["timestamps"][fields["x"]]);
                let datestring = date.toDateString()+" "+date.toLocaleTimeString()
                return datestring+": <b>"+fields["y"].toFixed(2)+"</b>";
            }
            let sparkline = temperature_sparkline.sparkline(filtered_data, {
                fillColor: 'rgb(228, 228, 228)',
                lineColor: 'rgb(87, 188, 210)',
                lineWidth: 2,
                width: "100%",
                tooltipFormatter: selectValueForTooltip
            });
        });

        let power_sparkline = $("#power_sparkline");
        $.getJSON(power_last_week_url, function (data) {
            console.log("Updating the sparkline for power consumption");
            let filtered_data = data["means"].filter(x => x != null);

            function selectValueForTooltip(sparkline, options, fields) {
                let date = new Date(data["timestamps"][fields["x"]]);
                let datestring = date.toDateString()+" "+date.toLocaleTimeString()
                return datestring+": <b>"+fields["y"].toFixed(2)+"</b>";
            }
            let sparkline = power_sparkline.sparkline(filtered_data, {
                fillColor: 'rgb(228, 228, 228)',
                lineColor: 'rgb(87, 188, 210)',
                lineWidth: 2,
                width: "100%",
                tooltipFormatter: selectValueForTooltip
            });
        });

        let pue_sparkline = $("#pue_sparkline");
        $.getJSON(pue_last_week_url, function (data) {
            console.log("Updating the sparkline for pue");
            let filtered_data = data["means"].filter(x => x != null);

            function selectValueForTooltip(sparkline, options, fields) {
                let date = new Date(data["timestamps"][fields["x"]]);
                let datestring = date.toDateString()+" "+date.toLocaleTimeString()
                return datestring+": <b>"+fields["y"].toFixed(2)+"</b>";
            }
            let sparkline = pue_sparkline.sparkline(filtered_data, {
                fillColor: 'rgb(228, 228, 228)',
                lineColor: 'rgb(87, 188, 210)',
                lineWidth: 2,
                width: "100%",
                tooltipFormatter: selectValueForTooltip
            });
        });
    }
    draw_sparklines();

    // Refresh the sparklines every 15 minutes
    setInterval(function() {
        draw_sparklines()
    }, 15 * 60 * 1000);

    // Refresh the sparklines on resize of the current window
    $(window).resize(function() {
        draw_sparklines();
    });
</script>
<style>
    .sparkline canvas {
        width: 100%;
    }

    .line canvas {
        width: 100%;
    }

    #temperature_sparkline {
        max-width: 100%;
        width: 100%;
    }

    #inside_temperature_sparkline {
        max-width: 100%;
        width: 100%;
    }
</style>
{% endblock %}
