{% extends "layout.html.jinja2" %}

{% block header %}
{% endblock %}

{% block navbar %}
<ul class="sidebar-menu metismenu" id="sidebar-menu">
    <li>
        <a href="{{ url_for("webapp.index") }}">
            <i class="fa fa-home"></i> Dashboard </a>
    </li>
    <li>
        <a href="{{ url_for("webapp.sensors") }}">
            <i class="fa fa-cog"></i> Sensors
        </a>
    </li>
    <li>
        <a href="{{ url_for("webapp.room_overview") }}">
            <i class="fa fa-map"></i> Room overview
        </a>
    </li>
    <li>
        <a href="{{ url_for("webapp.rack_temperature_overview") }}">
            <i class="fa fa-thermometer-half"></i> Rack temperatures
        </a>
    </li>
    <li>
        <a href="{{ url_for("webapp.weighted_tree_consumption") }}">
            <i class="fa fa-sitemap"></i> Consumption tree
        </a>
    </li>
    <li class="open">
        <a href="#">
            <i class="fa fa-bar-chart"></i> Measurements
            <i class="fa arrow"></i>
        </a>
        <ul class="sidebar-nav">
            <li>
                <a href="{{ url_for("webapp.measurements_wattmeters") }}"> Wattmeters </a>
            </li>
            <li class="active">
                <a href="{{ url_for("webapp.measurements_thermometers") }}"> Temperature sensors </a>
            </li>
        </ul>
    </li>
    <li>
        <a id="seduce_api_link" href="https://localhost:5000/apidocs/#/">
            <i class="fa fa-rocket"></i> API
        </a>
    </li>
</ul>
{% endblock %}

{% block body %}
<article class="content static-tables-page">
    <div class="title-block">
        <h1 class="title"> Thermometers</h1>
        <p class="title-description"> Display data from all thermometers known in the system</p>
    </div>
    <section class="section">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-block">
                        <div class="card-title-block">
                            <h3 class="title">Selected sensors</h3>
                            <br>
                                <div class="form-group">
                                    <input id="input_search" data-role="tagsinput" class="form-control typeahead" placeholder="Search a sensor">
                                    <input id="add_serie_button" class="form-control btn btn-primary" type="button" value="Add sensor" disabled="false">
                                    <div id="currentTags"></div>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-block">
                        <div class="card-title-block">
                            <h3 class="title"> Thermometers data </h3>
                        </div>
                        <section class="example">
                            <div id="thermometers-container" style="height: 100%;"/>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </section>
</article>
{% endblock %}

{% block end_document %}
<script src="{{ url_for('static', filename='js/data_visualization.js') }} "></script>
<script src="{{ url_for('static', filename='js/bootstrap3-typeahead.js') }}"></script>
<script>
    var selected_series = [];

    function delete_tag(tag_id, serie_name) {
        $("#"+tag_id).remove();
        selected_series = selected_series.filter(s => s != serie_name);
        console.log(selected_series);
    }

    $.get("/sensors/temperature", function(data){

        function process_input_serie_change() {
            let currentValue = $("#input_search").val();
            let button_element = $("#add_serie_button");

            if (data["sensors"].includes(currentValue)) {
                button_element.prop("disabled", false);
            } else {
                button_element.prop("disabled", true);
            }
        }

        $("#input_search").typeahead({ source:data["sensors"] });


        $("#add_serie_button").click(function() {
            let new_serie = $("#input_search").val();
            let new_serie_escaped = new_serie.replace(".", "_").replace("-", "_");

            $("#input_search").val("");
            process_input_serie_change();

            console.log("Adding serie: '"+new_serie+"'");
            selected_series.push(new_serie);

            let new_tag_id = "tag_"+ new_serie_escaped;

            // Adding the serie in the HTML document
            $("#currentTags").append("<div id=\""+ new_tag_id +"\" class=\"alert alert-warning\" role=\"alert\">\n" +
                "  "+ new_serie +"\n" +
                "  <button onclick='delete_tag(\""+ new_tag_id +"\", \""+ new_serie +"\" )' id=\"close_"+new_serie_escaped+"\" type=\"button\" class=\"close\" aria-label=\"Close\">\n" +
                "    <span id=\"close_"+new_serie_escaped+"_span\" aria-hidden=\"true\">&times;</span>\n" +
                "  </button>\n" +
                "</div>");


            $("#close_"+ new_serie+"_span").click(function(e) {
                $("#currentTags").detach($("#tag_"+ new_serie));
                selected_series = selected_series.filter(s => s != new_serie);
                console.log(selected_series);
            })
        })


        $("#input_search").keyup(function(e) {
            process_input_serie_change();
        })

        $("#input_search").change(function(e) {
            process_input_serie_change();
        })

    },'json');

    let hc_options = {
        div_id: "thermometers-container",
        title: "Thermometers instant value",
        subtitle: "Displaying data from Thermometers",
        sensor_type: "temperature",
        multitree_selected_sensors_getter: function () {
            return selected_series;
        },
        navigator_data_url: "{{ url_for("webapp_api.get_navigation_data", sensor_type="temperature", how="hourly") }}"
    }
    hc_create_chart(hc_options);
</script>
{% endblock %}