{% extends "layout.html" %}

{% block navbar %}
<ul class="sidebar-menu metismenu" id="sidebar-menu">
    <li>
        <a href="/">
            <i class="fa fa-home"></i> Dashboard </a>
    </li>
    <li>
        <a href="/sensors.html">
            <i class="fa fa-cog"></i> Sensors
        </a>
    </li>
    <li>
        <a href="/room_overview.html">
            <i class="fa fa-map"></i> Room overview
        </a>
    </li>
    <li class="open">
        <a href="/">
            <i class="fa fa-bar-chart"></i> Measurements
            <i class="fa arrow"></i>
        </a>
        <ul class="sidebar-nav">
            <li>
                <a href="/measurements/wattmeters.html"> Wattmeters </a>
            </li>
            <li class="active">
                <a href="/measurements/thermometers.html"> Temperature sensors </a>
            </li>
            <li>
                <a href="/measurements/socomecs.html"> Socomecs </a>
            </li>
        </ul>
    </li>
    <li>
        <a id="seduce_api_link" href="http://localhost:5000/apidocs/#/">
            <i class="fa fa-rocket"></i> API
        </a>
    </li>
</ul>
{% endblock %}

{% block body %}
<article class="content static-tables-page">
    <div class="title-block">
        <h1 class="title"> Temperature sensors</h1>
        <p class="title-description"> Display data from all wattmeters known in the system</p>
    </div>
    <section class="section">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-block">
                        <div class="card-title-block">
                            <h3 class="title"> Thermometers data </h3>
                        </div>
                        <section class="example">
                            <div id="thermometers-container" style="height: 100%;"/>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </section>
</article>
{% endblock %}

{% block end_document %}
<script src="{{ url_for('static', filename='js/data_visualization.js') }} "></script>
<script>
    setTimeout(function() {
        setSameHeights();
    }, 1000);

    let hc_options = {
        div_id: "thermometers-container",
        title: "Thermometers measurements",
        subtitle: "Displaying data from thermometers",
		sensor_type: "temp",
		navigator_data_url: "/ui/data/navigation/temperature/hourly"
    }
    hc_create_chart(hc_options);
</script>
{% endblock %}