{% extends "layout.html.jinja2" %}

{% block navbar %}
<ul class="sidebar-menu metismenu" id="sidebar-menu">
    <li>
        <a href="{{ url_for("webapp.index") }}">
            <i class="fa fa-home"></i> Dashboard </a>
    </li>
    <li>
        <a href="{{ url_for("webapp.sensors") }}">
            <i class="fa fa-cog"></i> Sensors
        </a>
    </li>
    <li>
        <a href="{{ url_for("webapp.room_overview") }}">
            <i class="fa fa-map"></i> Room overview
        </a>
    </li>
    <li class="active">
        <a href="{{ url_for("webapp.rack_temperature_overview") }}">
            <i class="fa fa-thermometer-half"></i> Rack temperatures
        </a>
    </li>
    <li>
        <a href="{{ url_for("webapp.weighted_tree_consumption") }}">
            <i class="fa fa-sitemap"></i> Consumption tree
        </a>
    </li>
    <li>
        <a href="{{ url_for("webapp.weighted_tree_production") }}">
            <i class="fa fa-sitemap"></i> Production tree
        </a>
    </li>
    <li>
        <a href="#">
            <i class="fa fa-bar-chart"></i> Measurements
            <i class="fa arrow"></i>
        </a>
        <ul class="sidebar-nav">
            <li>
                <a href="{{ url_for("webapp.measurements_wattmeters") }}"> Wattmeters </a>
            </li>
            <li>
                <a href="{{ url_for("webapp.measurements_thermometers") }}"> Temperature sensors </a>
            </li>
        </ul>
    </li>
    <li>
        <a id="seduce_api_link" href="https://localhost:5000/apidocs/#/">
            <i class="fa fa-rocket"></i> API
        </a>
    </li>
</ul>
{% endblock %}

{% block body %}
<style>
    .table-rack {
        border: solid 1px black;
        width: 100%;
    }

    .table-rack tr {
        border: solid 1px black;
        height: 10px;
        font-size: 8px;
    }

    .table-rack th {
        text-align: center;
        border: solid 1px black;
        height: 10px;
        font-size: 14px;
    }

    .table-rack td {
        border: solid 1px black;
        height: 10px;
        font-size: 10px;
        padding: 0px;
        width: 20%;
        min-width: 170px;
    }

    .temperature_div {
        height: 12px;
        width: 100%;
    }

    .sensor_a_link {
        position: relative;
        color: blue;
        right: 0px;
        color: #FFFFFF;
        text-decoration: none;
        font-size: 8px;
        bottom: 2px;
    }

</style>
<article class="content static-tables-page">
    <div class="title-block">
        <h1 class="title"> Rack temperature overview</h1>
        <p class="title-description"> Display an overview of the temperature inside the rack</p>
    </div>
    <section class="section">
        <div class="row">


            <div class="col-md-12">
                <div class="card">
                    <div class="card-block">
                        <section class="example">
                            <table class="table-rack">
                                <thead>
                                {% for rack_name in temperature_sensors_infrastructure | sort %}
                                {% if "front" in rack_name %}
                                <th>{{rack_name}}</th>
                                {% endif %}
                                {% endfor %}

                                </thead>
                                {% for i in range(42, 0, -1) %}
                                <tr>
                                    {% for rack_name in temperature_sensors_infrastructure | sort %}
                                    {% if "front" in rack_name %}
                                    <td>
                                    {% if i in temperature_sensors_infrastructure[rack_name].positions_index %}
                                        <div class="temperature_div" id="{{rack_name}}.{{ temperature_sensors_infrastructure[rack_name].positions_index[i] }}">{{ temperature_sensors_infrastructure[rack_name].positions_index[i] }}</div>
                                    {% else %}
                                        <div class="temperature_div"></div>
                                    {% endif %}
                                    </td>
                                    {% endif %}
                                    {% endfor %}
                                </tr>
                                {% endfor %}
                            </table>
                        </section>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <section class="section">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-block">
                        <section class="example">
                            <table class="table-rack">
                                <thead>
                                {% for rack_name in temperature_sensors_infrastructure | sort %}
                                {% if "back" in rack_name %}
                                <th>{{rack_name}}</th>
                                {% endif %}
                                {% endfor %}

                                </thead>
                                {% for i in range(42, 0, -1) %}
                                <tr>
                                    {% for rack_name in temperature_sensors_infrastructure | sort %}
                                    {% if "back" in rack_name %}
                                    <td>
                                    {% if i in temperature_sensors_infrastructure[rack_name].positions_index %}
                                        <div class="temperature_div" id="{{rack_name}}.{{ temperature_sensors_infrastructure[rack_name].positions_index[i] }}">{{ temperature_sensors_infrastructure[rack_name].positions_index[i] }}</div>
                                    {% else %}
                                        <div class="temperature_div"></div>
                                    {% endif %}
                                    </td>
                                    {% endif %}
                                    {% endfor %}
                                </tr>
                                {% endfor %}
                            </table>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </section>
</article>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.subwayMap-0.5.0.js') }}"></script>
<script type="text/javascript">
    $(".subway-map").subwayMap({ debug: true });
</script>
{% endblock %}

{% block end_document %}
{% if selected_sensor is not none %}
<script src="{{ url_for('static', filename='js/data_visualization.js') }} "></script>
<script>
    setTimeout(function() {
        setSameHeights();
    }, 1000);

    let TEMP_MIN = 17;
    let TEMP_MAX = 50;
    let HSL_COLOR_MIN = 180;
    let HSL_COLOR_MAX = 0;

    function temperature_to_hsl_color(temperature) {

        if (temperature < TEMP_MIN) {
            return HSL_COLOR_MIN;
        }

        if (temperature > TEMP_MAX) {
            return HSL_COLOR_MAX;
        }

        return HSL_COLOR_MIN - ((HSL_COLOR_MIN - HSL_COLOR_MAX) / (TEMP_MAX - TEMP_MIN)) * (temperature - TEMP_MIN);
    }

    function update_temperature_tables() {
        $.getJSON("/rack_temperature/sensors/last_values", function (data) {
            console.log("Updating temperatures");
            for (rack_name in data) {
                for (idx in data[rack_name]["last_temperatures"]) {
                    let sensor_data = data[rack_name]["last_temperatures"][idx];
                    let sensor_name = sensor_data["sensor"];
                    let temperature = sensor_data["last_value"];
                    let div_id = rack_name+"."+sensor_name;
                    let temperature_div = document.getElementById(div_id);
                    let hsl_color = temperature_to_hsl_color(temperature);
                    $(temperature_div).css("background-color", "hsl("+hsl_color+", 76%, 55%)");
                    $(temperature_div).html(temperature+"°C ("+sensor_name+") <a class=\"sensor_a_link\" href=\"/room_overview.html/by_selected/"+sensor_name+"\">view</a>");
                }
            }
        });
    }

    setInterval(function() {
        update_temperature_tables()
    }, 10000);
    update_temperature_tables()


</script>
{% endif %}
{% endblock %}